.panel.panel-default
  .panel-heading
    %h1.panel-title Service
  #map.half-screen
    %layer{ data: { type: 'geojson', url: service_outage_reports_path(slug: @service.name, format: :geojson) } }
      = render 'shared/popup'
  .panel-body
    %dl.dl-horizontal
      %dt Name:
      %dd
        = @service.name
      %dt Color:
      %dd
        %span{ style: "display: inline-block; background-color: #{@service.color}; height: 20px; width: 20px;"} &nbsp;

= render 'sidebar'
