.panel.panel-default
  .panel-heading
    %h1.panel-title Service
  .panel-body
    %p
      %strong Name:
      = @service.name 
      %span{ style: "display: inline-block; background-color: #{@service.color}; height: 15px; width: 15px;"} &nbsp;

= render 'sidebar'
