#map

#finding-location-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Finding location
      .modal-body
        %i.fa.fa-fw.fa-spin.fa-refresh
        Please wait while we determine you're location

#report-outage-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Report outage
      .modal-body
        Form would show up here
        .location
