#map.full-screen
  %layer{ data: { type: 'geojson', url: outage_reports_path(:geojson) } }
    %popup.hidden
      %h1 Outage :: {{service.name}}
      %p
        %strong Provider:
        {{provider.name}}
      %p
        %strong Reported:
        {{reported}}

#finding-location-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Finding location
      .modal-body
        %i.fa.fa-fw.fa-spin.fa-refresh
        Please wait while we determine you're location

#report-outage-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Report outage
      .modal-body
        = render 'outage_reports/form'
