%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#navbar' }}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Utility feeds', root_url, class: 'navbar-brand'

    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          = link_to '#manager-menu', data: { toggle: 'dropdown' } do
            Manager
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'Providers', providers_path
        %li= link_to 'Report Outage', '#report', data: { behavior: 'report-outage' }
